# These contain runtime variables and possibly secrets
.env
*.log

# These are the application configuration secrets passed to systemd credentials
secrets/*
ssh/*
# This is the certificate authority
ca/*

